<div id="design_picker" class="five columns" >
  <%= form_for @mixtape do |f| %>
    <div id="name_picker" class="row">
      <h3 class="design_title">Give your mixtape a name.</h3>
      <%= f.text_field :name , :placeholder => "eg. Baltimore Classics, 70's Disco, etc", :class =>"" %>
    </div>

    <div id="skin_picker" class="row">
      <h3 class="design_title">And pick a bad-ass skin.</h3>
      <div id="skins" class="row">
        <%= image_tag("the_muxtape.png", :alt => "test image", :class => "color thumbnail", id: "1") %>
        <%= image_tag("the_muxtape.png", :alt => "test image", :class => "color thumbnail", id: "2") %>
        <%= image_tag("the_muxtape.png", :alt => "test image", :class => "color thumbnail", id: "3") %>
        <%= image_tag("the_muxtape.png", :alt => "test image", :class => "color thumbnail", id: "4") %>
        <%= image_tag("the_muxtape.png", :alt => "test image", :class => "color thumbnail", id: "5") %>
        <%= image_tag("the_muxtape.png", :alt => "test image", :class => "color thumbnail", id: "6") %>
        </div>
    </div>

    <div class="row">
      <div id="mixtape_color">
      </div>
      <%= f.hidden_field :skin %>
    </div>

    <div class="four columns centered">
      <%= f.submit 'Share', :class => "button" %>
    </div>

  <% end %>
</div>
