<div id="mail_form" class="reveal-modal [medium]">

  <div class="ten columns">
    <h3>Email Your Mixtape!</h3>
    <%= form_tag url_for(:controller => :mixtapes_mailers,
                         :action => :create,
                         ) do %>
    <%= label_tag :author_name %>
    <%= text_field_tag :author_name %>
    <%= label_tag :recipient_name %>
    <%= text_field_tag :recipient_name %>
    <%= label_tag :recipient_email %>
    <%= text_field_tag :recipient_email %>
    <%= hidden_field_tag :mixtape_id, mixtape.id %>
    <%= submit_tag('Send Mixtape') %>
    <% end %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

