<div class="six columns play">
  <div id="search">
    <%= form_for search_mixtapes_path, :method => 'get' do |f| %>
      <h2><%= f.label "Search for an artist or a song" %></h2>
      <%= f.text_field params[:q], :id=>'q' %>
      <%end%>
      <!-- <br/><br/> -->
    <%= form_for @song, :url => songs_path, :remote => true, :method => 'post' do |f| %>
      <%= f.hidden_field :artist, :id => "artist_field" %>
      <%= f.hidden_field :title, :id => "title_field" %>
      <%= f.hidden_field :tiny_id, :id=> "tiny_id_field" %>
      <%= f.submit "submit", :id => "create_song_submit", :style => 'visibility: hidden' %>
    <% end %>
    <div id="search_results">
    </div>
    <object id="ytplayer_div" style="position: absolute; left: -1000px;">
    </object>
    <button class="button" id="play_pause" type="button">Play</button>
    <%= link_to "Start Over", endsession_path, :class => "button start_over" %>
  </div>
<!-- <div ></div> -->
</div>
