<h3 style="padding-bottom:20px; border-bottom:solid 3px #ddd"><%= "#{results.length} Results for '#{params[:query]}'" %></h3>

<table style="text-align:left;">

	<% results.each_with_index do |result, index| %>
		<tr>
			<th style="padding-right:20px"><%= result["ArtistName"] %></th>
			<th style="padding-right:20px"><%= result["SongName"] %></th>
			<th style="padding-right:20px"><%= link_to "Link", result["Url"], :target => "_blank" %></th>
			<th><%= link_to "Add", song_path( result["SongID"], :title => result["SongName"], :artist => result["ArtistName"]), :remote => true %></th>
		<tr>
	<% end %>

	<!-- The script needs to be called after the results have been rendered (not on document.ready), otherwise '.pick_song' doesnt exist and an event can't be bound -->
	<script>
		// $('.pick_song').bind('click', function() {
  //      $('#results_id').append($('#result_'+ this.id)[0].innerHTML + '<br>');
  //      return false;
		// });
	</script>

</table>