<div class="six columns play">
  <div id="search">
    
    <%= form_for new_search_path, :method => 'get' do |f| %>
      <h3 class="section_title">Pick some good songs</h3>
      <%= f.text_field params[:q], :id => "q" %>
    <% end %>

    <%= form_for @song, :url => songs_path, :remote => true, :method => 'post' do |f| %>
      <%= f.hidden_field :artist, :id => "artist_field" %>
      <%= f.hidden_field :title, :id => "title_field" %>
      <%= f.hidden_field :tiny_id, :id=> "tiny_id_field" %>
      <%= f.submit "submit", :id => "create_song_submit", :style => 'visibility: hidden' %>
    <% end %>

    <div id="search_results"></div>

  </div>
</div>
