<!-- SOCIAL PLUGINS -->

<!-- email -->
<a href="#" class="button large radius share" data-reveal-id="mail_form"><%= image_tag("email.png", :class => "social_logo") %>Email</a>
<%= render 'mixtape_mail_form', :url => @mixtape.url %>

<!-- tweet --> 
<a class="button large radius share popup" id="twitter" href="http://twitter.com/share?text=Check%20out%20my%20new%20mixtape%20on%20@instatapes%20" target="_blank"><%= image_tag("twitter.png", :class => "social_logo") %>Tweet</a>

<!-- facebook -->
<a class="button large radius share popup" id="facebook" href='http://www.facebook.com/share.php?u=<%= "http://instatap.es/#{@mixtape.url}" %>' target="_blank"><%= image_tag("facebook.png", :class => "social_logo") %>Facebook</a>

