<div class="six columns play" id="play_partial">
  <div id="tape_container">
    <div id="tape_skin">
      <% if @mixtape %>
        <%= image_tag("#{@mixtape.skin}.png") %>
      <% else %>
        <%= image_tag(asset_path "clear.png") %>
      <% end %>
    </div>
    <div id="mixtape_name_on_tape">
      <div id="mixtape_name_live">
        <% if @mixtape %>
          <%= @mixtape.name %></div>
        <% else %>
          <%= "Instatape!" %>
        <% end %>
      </div>
    <div id="tracklist_container">
      <table>
        <% if @mixtape %>
          <%= render :partial => "songs/song", :collection => @mixtape.songs, :as => :song %>
        <% end %>
      </table>
    </div>
  </div>
</div>

