<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!-- <![endif] -->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="text/javascript" src = "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title>Instatap.es</title>
</head>
  <body>
    <div id="band"></div>
    <div class="row">
      <div class="twelve columns centered">
        <%= render "layouts/header" %>
        <div class=-"row"><div class="twelve columns padding"></div></div>
        <%= yield %>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
